In [12]:
a="hello"
a

'hello'

In [13]:
a,b,c="hello",25,23.45
print(a,b,c)

hello 25 23.45

In [14]:
a,b,c=23,45
print(a,b)

ValueError: not enough values to unpack (expected 3, got 2)

# variable
## variable name can be valid if  its start or ends with underscore
## variable name is valid if its contain nos

# invalid
## if its contain special character then underscore
## if its start with number or special character

# invalid scenario

In [23]:
1a=23
a

SyntaxError: invalid syntax (<ipython-input-23-acb17b1fa27f>, line 1)

In [24]:
$=23
$

SyntaxError: invalid syntax (<ipython-input-24-97efb32e2651>, line 1)

In [25]:
a1=23
a1

23

In [26]:
_a=23
_a

23

In [27]:
_a_=23
_a_

23

In [28]:
program of two number swapiing

SyntaxError: invalid syntax (<ipython-input-28-3601accd25b5>, line 1)

In [29]:
a=23
b=32
c
c=a
a=b
b=c
print(a,b)

32 23

In [30]:
# code by sir
a,b=23,45
a,b=b,a
print(a,b)

45 23

In [31]:
a=23
type(a)

int

In [32]:
a=23+45j
type(a)

complex

In [34]:
a="sartaj"
type(a)

str

In [36]:
a=[1,2,3]
type(a)

list

In [37]:
a=(1,2,3,4,5)
type(a
    )

tuple

In [38]:
a={"name":"sartaj","std":"be"}
a

{'name': 'sartaj', 'std': 'be'}

In [39]:
a={1,2,3,4,5}
type(a)

set

In [ ]:
######################################################################################################################

In [ ]:
arithmatic

In [40]:
a=10
b=20
c=30

In [41]:
a+b

30

In [42]:
a-b

-10

In [43]:
a*b

200

In [46]:
a//c # floor devision will give a floor value if any of operand is negative

0

In [49]:
-55//6

-10

In [50]:
3**3

27

In [52]:
2**9**2

2417851639229258349412352

In [ ]:
# assignment

In [53]:
a=10
b=5

In [54]:
a+=10
a

20

In [ ]:
#bitwise

In [59]:
b=10&3 
a=10|3

print(a,b)

11 2

In [ ]:
# logical

In [ ]:
a=2
b=0
c=5
# a and b and c
# b or c or a
# (a>b) or (c<a) or (a>b)

In [ ]:
# comparison

In [60]:
a=34
b=34
a>b

False

In [ ]:
# member ship
# sequence that data type which follows index property( string,list,tuple)

In [68]:
a="hello world"
"w" in a
a=[1,2,3,4,5,6,7,8]
33 not in a

True

In [ ]:
# identity
# data type comparison

In [71]:
a=333
b=333
#type(a)is type(b)
type(a) is not type(b)

False

In [ ]:
# range

In [73]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
a=50
b=50
print("even")
print(list(range(2,a,2)))
print("odd")
print(list(range(1,b,2)))

even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
############################################################################################################################################

In [ ]:
# decision making
# if
# if else
#if elif

In [ ]:
# indendation rule

In [77]:
# if
# 2.x raw.input is used to take data from user
# 3.x input() is used input will always return string
a=input(" my name is")
print(f"your nae is {a}")
print("your name is ",a)
print("your name is "+a)
print("your nmE IS {}".format(a))

 my name issartaj
your nae is sartaj
your name is  sartaj
your name is sartaj
your nmE IS sartaj

In [78]:
a=34
if a==34:
    print("yes")

yes

In [83]:
no1=input("any number")
if(len(no1)==3):
    a=int(no1[0])+int(no1[1])+int(no1[2])
    no1=int(no1)-a
    if(no1%9==0):
        print(f"yes and no is {no1}")
    else:
''            print("no")

any number456
yes and no is 441

In [84]:
a,b,c=10,20,30
print("a is greater") if(a>b) and (a>c) else print("b is greater") if(b>a) and (b>c) else print("c is greater")

c is greater

In [ ]:
# loop

In [ ]:
# while loop , while else loop , for loop

In [87]:
counter=0
while(counter<10):
    print(counter)
    counter+=1
else:
    print("done")

0
1
2
3
4
5
6
7
8
9
done

In [91]:
#for loop
for i in list(range(1,10)):
    print(i,end="    ")

1    2    3    4    5    6    7    8    9

In [92]:
[i for i in list(range(1,10))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
for i in range(1,101):
    for j in range(1,11):
        print(i*j,end" ")
    print()

SyntaxError: invalid syntax (<ipython-input-98-42e26fe16c47>, line 3)

In [100]:
a= "hello world"
for i in a:
    
    if (i=="r"):
        break
    print(i,end="  ")

h  e  l  l  o     w  o

In [102]:
a= "hello world"
for i in a:
    
    if (i=="r"):
        continue
    print(i,end="  ")

h  e  l  l  o     w  o  l  d

In [101]:
a= "hello world"
for i in a:
    
    if (i=="r"):
        pass
    print(i,end="  ")

h  e  l  l  o     w  o  r  l  d